*{
  padding : 0;
  margin : 0;
}
a{
  text-decoration: none !important;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background: #8458B3;
  color: #fff;
  overflow-x: hidden;
}
.header {
  background: #e2ede1;
  padding: 2px 0px;
}

.logo__header img {
  /* height: 60px;
  width : 100px; */
}
.login_register_area{
  padding-top: 10px;
  text-align: right;
}
.login_register_area a{
  border-radius: 0px;
}

.navbar{
  background-color: #0092D2;
  text-align: center;
  padding : 0px !important;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
  background: none !important;
  padding: 0px !important;
  margin: auto;
}
.nav-item{
  padding: 0px 5px;
}

nav {
  position: relative;
}

.nav-mobile {
 top: 8px;
}

.nav-link{
  color : white;
}
.nav-link.active{
  background-color: white;
}
section.section_div {
  background: #8458B3;
  padding: 4px 4px;
}
section.section {
  padding: 4px 4px;
}
.sectiontitle{
  text-align: center;
}
div#prize_box {
  color: white;
  text-align: center;
  border: 1px solid white;
  outline: none;
  margin-top: 14px;
  padding: 0px !important;
}

.prize_number {
  background: #ff4300;
  margin-top: 11px;
  padding: 4px;
}
.footer-top{
  background-color: #252525;
}
.footer-bottom{
  background-color: #09524b;
}
.page-title {
  background: #8458B3;
  padding: 44px 3px;
}

.page-title a {
  color: #fff;
}

.page-title h2{
  color: #fff !important;
}

.page-title .container{
  color: #fff !important;
}

.method_images img {
  padding: 19px;
  width: 14%;
}

ul.header_side_nav li {
  list-style: none;
  display: inline-block;
}
img#flag_up {
  max-width: 50px;
}
.form-control, .form-select{
    border-radius: 0px;
}
.form-control:focus, .form-select:focus{
    box-shadow: none;
}
.alert.alert-danger {
    padding: 3px;
    font-size: 13px;
    border-radius: 0px;
}
.card-text {
background-color: #09524b;
width: 64%;
padding: 10px;
border-radius: 7px;
}

.card-text:last-child {
margin-left: 18%;
margin-top: 12px;
}

.card-text a {
color: #fff;
}

.card-text a:hover {
color: #fff;
}

.card .card-body li{
  list-style: none;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th {
  background-color: #51297b;
  border: 1px solid #000;
  padding: 5px;
}
td {
  border: 1px solid #000;
  padding: 5px;
}


/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}


.container {
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.container h1{
  color: #fff;
}

/* h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
} */

#countdown li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown li span {
  display: block;
  font-size: 1.5rem;
  color : white;
}
#countdown2 li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown2 li span {
  display: block;
  font-size: 1.5rem;
  color : white;
}
#countdown3 li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown3 li span {
  display: block;
  font-size: 1.5rem;
  color : white;
}

#timer_sub{
  font-size: 15px !important;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

.section_div_blue{
  background-color: #0092D2;
  padding: 4px 4px;
}
.section_div_black{
  background-color: #252525;
  padding: 4px 4px;
}

.text-left{
  text-align: left;
}

.youtube_live_blog_post{
  background: #8458B3;
}

.youtube_live_blog_post h4{
  color: #fff;
  margin-top: 24px;
}

.blog_single {
  /* background: #ececec; */
  padding: 33px;
  /* border-radius: 9px; */
  /* margin-top: 12px; */
}

.blog_single p{
  color: #fff;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

@media all and (max-width: 620px) {

  .featureSection .card {
    margin-right: -2px !important;
    margin-left: -11px !important;
}


.featureSection img {
  width: 20% !important;
  padding: 22px 2px 15px 6px !important;
  margin-left: -70% !important;
}
.featureSection .text {
padding: 30px 0px 0px 0px !important;
margin-left: -90% !important;
}
.featureSection p {
font-size: 12px !important;
}

.featureSection h2 {
font-size: 15px !important;
}

/*  */

.featuresSection .text-content {
  margin-left: -35px !important;
}
.featuresSection img {
  width: 35% !important;
  padding: 16px 5px 9px 12px !important;
  margin-left: -45% !important;
  margin-top: -19px !important;
}
.featuresSection h2 {
  margin-left: -59% !important;
  margin-top: -28px !important;
  float: left !important;
}
.featuresSection h6 {
  float: left !important;
  margin-left: -60% !important;
  margin-top: 31px !important;
}

.featuresSection h6 span{
  padding: 20px !important;
  margin-left: -36px !important;
  font-size: 19px !important;
}

.circle {
  top: -1px !important;
  left: 32% !important;
}
.row_grid {
  margin-left: 52px !important;
}
.method_images img {
  width: 33% !important;
  padding: 1% !important;
}

.youtube_blog_post iframe {
  width: 101%;
}

.result-single ul li {
  padding: 5px 15px !important;
  font-size: 20px !important;
  margin-left: 2px !important;
}

.gif-section {
  padding: 18px 11px !important;
  width: 96% !important;
}

/*  */

.header-info{
  font-size: 14px !important;
}

.header-text{
  font-size: 18px !important;
}


}

/* form */


.section-box {
  background-color: #8458B3;
  color: #fff;
}

.section_title h1 {
  color: #fff;
  padding: 37px 0px 7px;
  font-weight: 600;
}
.card-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card-box .card-item {
  position: relative;
  width: 95%;
  height: 908px;
  /* margin: 20px; */
  background: #51297b;
  -webkit-transition: 0.4s;
}

.card-box .card-item:hover {
  box-shadow: 0 12px 15px 3px rgb(51 181 247 / 25%);
}

.card-box .card-item .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.card-box .card-item .content .imgBx img {
  margin-bottom: -44px;
}

.card-box .card-item .content .imgBx h3 {
    color: #fff;
    font-size: 24px;
    border-bottom: 2px solid;
    padding: 14px;
    line-height: 48px;
    font-weight: 600;
}

.card-box .card-item .content .imgBx h4 {
  color: #fff;
  font-size: 20px;
  line-height: 34px;
  margin-top: 0px;
  font-weight: 600;
}


.card-box .card-item .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.card-box .card-item .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.card-box .card-item .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.card-box .card-item .sci li {
  list-style: none;
  margin: 0 10px;
  transition: 0.5s;
  opacity: 0;
}

.container .card-item .sci li a {
  color: #fff;
  font-size: 20px;
}

.contentBx h4 {
  color: #fff;
}

.result-inner {
  text-align: center;
}

.home-result h4 {
  font-size: 20px;
}
.result-single h4 {
  color: #D5057F;
  line-height: 25px;
  font-weight: bold;
}
.result-single ul {
  padding-bottom: 15px;
}
.result-single ul li {
  display: inline-block;
  background: #0093D3;
  /* border-radius: 50%; */
  padding: 2px 11px;
  color: #fff;
  margin: 0px 1px;
}
.pt-120 {
  padding-top: 115px;
}
.result-single h5 {
  font-size: 20px;
  color: #fff;
}
.result-single ul {
  padding-bottom: 15px;
}
.result-single span {
  color: #fff;
  font-size: 11px;
}

/* featuresSection */
.featuresSection {
  background: #8458B3;
  padding: 26px;
}

.featuresSection img {
  width: 100%;
  border-radius: 50%;
  padding: 22px 0px 12px 12px;
}

.mainHeading {
  font-size: 30px;
  font-weight: bold;
  color: #323f4b;

}

.subheading {
  color: #323f4b;
  font-size: 25px;
  font-weight: 900;
}

.featuresSection h6 {
    color: #ffffff;
}

.featuresSection h6 span{
  padding: 18px;
  margin-left: -22%;
  font-size: 18px;
}

.featuresSection h2 {
  color: #ffffff;
  font-size: 41px;
  font-weight: 700;
  padding: 13px;
  line-height: 4px;
}

.featuresSection h4 {
  line-height: 0px;
  color: #fff;
}

.featuresSection p {
  color: #e7f2ff;
  font-size: 16px;
}

/* featureSection */

.featureSection {
  background: #8458B3;
  padding: 26px;
}

.featureSection .card {
  background: #51297b;
  padding: 0px 0px 0px 0px;
  margin-left: 5px;
  margin-bottom: 14px;
  margin-right: 0px;
  border-radius: 0px !important;
}

.featureSection img {
  width: 100%;
  padding: 22px 2px 15px 6px;
}

.featureSection .text {
  padding: 30px 0px 0px 0px;
  margin-left: -90px;
}

.featureSection h6 {
    color: #ffffff;
    line-height: 0px;
}

.featureSection h2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  padding: 7px;
  line-height: 0px;
}

.featureSection h4 {
  line-height: 0px;
  color: #fff;
}

.featureSection p {
  color: #e7f2ff;
  font-size: 16px;
}

/*  */

/* Section Title */

.section-title h2 {
  position: relative;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 35px;
  color: #fff;
  padding: 27px;
}

.section-title p {
  font-size: 18px;
  line-height: 0px;
  text-align: center;
  color: #e7f2ff;
}

/* mission_vision */
.blog_content {
  padding: 10px;
}

.blog_content img{
  border-radius: 2%;
}

.blog_text h3{
  color: #fff !important;
}

/* nav bar update */
nav {
  float: right;
}
.navigation {
  height: 45px;
  background: #0092D2;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 45px;
  background: #0092D2;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #fff;
  color: #000;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  right: 11px;
  background: #000000;
  height: 39px;
  width: 58px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    margin-top: -5px;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
    margin-top: -25px;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 9px;
  cursor: pointer;
  padding: 9px 0px 0px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 26px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* contact */

.contact_brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.contact_brand span {
  color: #ffffff;
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #51297b;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #fff;
  font-size: 40px;
}

.company-info ul li {
  font-size: 18px;
  padding: 11px 0px 16px 0px;
  list-style: none;
  line-height: 2.3;
}

.contact {
  background: #51297b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.contact h3 {
  color: #fff;
  font-size: 36px;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
  text-align: left;
  margin-bottom: 9px;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 6px;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* media contact */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/*  */

.gif-section{
  padding: 12px 15px;
}

.header-info{
  font-size: 18px;
  color: #208073;
  font-weight: 600;
}

.header-text{
  font-size: 22px;
  color: #208073;
  font-weight: 600;
}
